{% extends 'blogs/base.html' %}
{% block content %}
<div class="container">
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ object.title }}</a></h2>
            <p class="article-content">{{ object.content }}</p>
            {% if user == object.author %}
            <a href="{% url 'update' object.id %}" class="btn btn-info">Update</a>
            <a href="{% url 'delete' object.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    </article>
</div>
{% endblock content %}